@using OpenLeague.Model.Services
@model OpenLeague.Model.ViewModels.ContextCollectionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="accordion">
    
    <h3><a href="#">My Current Leagues</a></h3>
    @{ Html.RenderPartial("ContestGroup", Model.MyCurrentLeagues); }
    
    <h3><a href="#">My Old Leagues</a></h3>
    @{ Html.RenderPartial("ContestGroup", Model.MyOldLeagues); }

    <h3><a href="#">My Deleted Leagues</a></h3>
    @{ Html.RenderPartial("ContestGroup", Model.MyDeletedLeagues); }

</div>

